workflows/news-automation.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -704,
        -160
      ],
      "id": "3e3f2c33-58b9-47a4-971c-86fd8df050ac",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        -432
      ],
      "id": "245595d3-a810-4f0c-9c1c-f6f77403f36c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        32,
        -480
      ],
      "id": "182bb3e1-91ed-4a8a-af67-70e72d9135f0",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "https://olhardigital.com.br/editorias/noticias/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -192,
        -480
      ],
      "id": "708c7e60-0020-4d8a-8e1b-bff3de5bff36",
      "name": "RSS OLHAR DIGITAL"
    },
    {
      "parameters": {
        "url": "https://admin.cnnbrasil.com.br/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -192,
        -160
      ],
      "id": "d4e9a879-1f89-4054-8c2d-a3c83d68d733",
      "name": "RSS CNN BRASIL"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        32,
        -144
      ],
      "id": "1e2ba21c-9af1-4115-b377-5e48830faa64",
      "name": "Limit1"
    },
    {
      "parameters": {
        "url": "https://canaltech.com.br/rss/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -192,
        -336
      ],
      "id": "6f260767-aa03-473b-833c-24b80f553380",
      "name": "RSS CANAL TECH"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        32,
        -320
      ],
      "id": "a8d3ef5d-b4f7-4a11-b2a8-775bca76a646",
      "name": "Limit2"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.mensagem }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1376,
        320
      ],
      "id": "2554b26e-95b7-4788-a74e-6c8400947450",
      "name": "Discord",
      "webhookId": "50ea8fa2-9583-4924-b48c-038b3628dea5",
      "credentials": {
        "discordWebhookApi": {
          "id": "3PloGkqx88q9l6Gh",
          "name": "Discord Chat Cotação"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "cotacoes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        256,
        304
      ],
      "id": "2c7a342f-a103-40ae-9aaa-b0f6397b32c0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d945a2da-6e72-4048-ab56-90ca438fed56",
              "leftValue": "={{ $json.tipo_boletim }}",
              "rightValue": "FECHAMENTO PTAX",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        304
      ],
      "id": "c1ac8b8d-4703-4318-9d8d-bdbaecab358f",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📰 Notícias do Dia\n\nOlá! Essas são suas notícias de hoje:\n\n🔹 Título: {{ $('Limit').item.json.title }}\n\n📝 Resumo: {{ $('Limit').item.json.contentSnippet }}\n\n\n🔗 Leia mais: {{ $('Limit').item.json.link }}\n\n🏷️ Tags: {{ $('Limit').item.json.categories }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1376,
        -512
      ],
      "id": "fa89ee0b-9c94-4b19-ad5e-35e242382060",
      "name": "Canal  Digital",
      "webhookId": "50ea8fa2-9583-4924-b48c-038b3628dea5",
      "credentials": {
        "discordWebhookApi": {
          "id": "4XCsHdNfIcPgabjB",
          "name": "Discord Chat noticias hoje"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📰 Notícias do Dia\n\nOlá! Essas são suas notícias de hoje:\n\n🔹 Título: {{ $('Limit2').item.json.title }}\n\n\n📝 {{ $json.text }}\n\n🔗 Leia mais:\n{{ $('Limit2').item.json.link }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1376,
        -320
      ],
      "id": "922f243d-cb40-4c5c-adfd-63a8a4e1ca00",
      "name": "canal tech",
      "webhookId": "50ea8fa2-9583-4924-b48c-038b3628dea5",
      "credentials": {
        "discordWebhookApi": {
          "id": "4XCsHdNfIcPgabjB",
          "name": "Discord Chat noticias hoje"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente que resume notícias de tecnologia.\n\nSua tarefa é:\n1. Criar um resumo claro e curto do texto.\n2. Extrair palavras-chave importantes.\n\nRegras:\n- O resumo deve ter no máximo 3 frases.\n- O resumo deve ser simples e fácil de entender.\n- Remova propagandas, chamadas para redes sociais ou frases irrelevantes.\n- Foque apenas nas informações importantes da notícia.\n- As palavras-chave devem ter entre 3 e 6 termos.\n- As palavras-chave devem ser separadas por vírgula.\n\nFormato da resposta:\n\nResumo:\n(resumo da notícia)\n\nPalavras-chave:\n(palavra1, palavra2, palavra3...)\n\nTexto da notícia:{{ $('RSS CANAL TECH').item.json.contentSnippet }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        992,
        -416
      ],
      "id": "1e31fb74-0879-4578-9101-5307813163ee",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        896,
        -304
      ],
      "id": "cdcc42da-f0f4-4bdd-b2dd-8150125e4b2e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UuDXTuA64czWhZnx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📺 Novo Vídeo no Canal\n\nOlá! Um novo vídeo foi publicado no canal.\n\n🔹 Título:\n{{ $json.title }}\n\n📅 Publicado em:\n{{ DateTime.fromISO($json.pubDate).toFormat('dd/MM/yyyy - HH:mm') }}\n\n▶️ Assista agora:\n{{ $json.link }}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1376,
        144
      ],
      "id": "ce14fefa-10c5-4a49-aade-bcf58a742caa",
      "name": "Youtuber",
      "webhookId": "50ea8fa2-9583-4924-b48c-038b3628dea5",
      "credentials": {
        "discordWebhookApi": {
          "id": "9Hy5DgUcXhf3gpri",
          "name": "Disco youtuber"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fb7dcb3-c3b8-45e7-b485-af0373c85078",
              "name": "youtuber_id",
              "value": "[\"UCEf5U1dB5a2e2S-XUlnhxSA\", \"UC_Fk7hHbl7vv_7K8tYqJd5A\",\"UCfUE4aSsJSOmeGcnwue9TnQ\", \"UCMbGt0MuxDW6rQAX_Ih8gvQ\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        112
      ],
      "id": "1f5320ef-783a-4c31-a1b2-ce7f624805e5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "youtuber_id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        256,
        144
      ],
      "id": "b004243d-3ad5-471f-a87a-0e0633ee7926",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -704,
        112
      ],
      "id": "8354ba31-d045-49e3-b599-7042dd484783",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente que resume notícias de tecnologia.\n\nSua tarefa é:\n1. Criar um resumo claro e curto do texto.\n2. Extrair palavras-chave importantes.\n\nRegras:\n- O resumo deve ter no máximo 3 frases.\n- O resumo deve ser simples e fácil de entender.\n- Remova propagandas, chamadas para redes sociais ou frases irrelevantes.\n- Foque apenas nas informações importantes da notícia.\n- As palavras-chave devem ter entre 3 e 6 termos.\n- As palavras-chave devem ser separadas por vírgula.\n\nFormato da resposta:\n\nResumo:\n(resumo da notícia)\n\nPalavras-chave:\n(palavra1, palavra2, palavra3...)\n\nTexto da notícia: {{ $('RSS CNN BRASIL').item.json.contentSnippet }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1008,
        -256
      ],
      "id": "964544f9-1b43-4ad9-a2af-d6137a9e583d",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        912,
        -112
      ],
      "id": "f6ce643c-5298-4f25-84af-56dbf77b77ac",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "UuDXTuA64czWhZnx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📰 Notícias do Dia\n\nOlá! Essas são suas notícias de hoje:\n\n🔹 Título: {{ $('Limit1').item.json.title }}\n\n📝 {{ $json.text }}\n\n🔗 Leia mais:\n{{ $('Limit1').item.json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1376,
        -128
      ],
      "id": "0c5fb358-18ad-4964-9d8b-b540dd55825c",
      "name": "canal cnn",
      "webhookId": "50ea8fa2-9583-4924-b48c-038b3628dea5",
      "credentials": {
        "discordWebhookApi": {
          "id": "4XCsHdNfIcPgabjB",
          "name": "Discord Chat noticias hoje"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const maxPorCanal = 2; // Aqui você define o limite\nconst contador = {};\nconst resultado = [];\n\nfor (const item of items) {\n  // 1. Verificamos se o ID do canal existe (O \"IF\" de segurança)\n  let channelId = \"\";\n  \n  if (item.pairedItem && item.pairedItem.json && item.pairedItem.json.youtuber_id) {\n    channelId = item.pairedItem.json.youtuber_id;\n  } else {\n    // Fallback: Se o n8n se perder no pareamento, usamos o autor como ID\n    channelId = item.json.author || \"desconhecido\";\n  }\n\n  // 2. Inicializamos o contador para esse canal se ele for novo\n  if (!contador[channelId]) {\n    contador[channelId] = 0;\n  }\n\n  // 3. O \"IF\" principal: Verifica se ainda podemos pegar vídeos deste canal\n  if (contador[channelId] < maxPorCanal) {\n    resultado.push(item.json); // Adiciona o vídeo à lista de envio\n    contador[channelId]++;     // Sobe o contador: 1, 2... e para.\n  }\n}\n\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        128
      ],
      "id": "46e8ef0c-4f37-4398-bc17-d7f6854aa038",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "## Servidor Discord ",
        "height": 1056,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        -592
      ],
      "id": "0554f296-9670-4b9a-8852-142b0b4e7051",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Servidor AI \n\nResumido os principais pontos importantes e criando tags ",
        "height": 624,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        -592
      ],
      "id": "2800fb94-cba0-4563-9945-ed22cfe74de0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## LIMITADOR DE NOTICIAS\n",
        "height": 576,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -592
      ],
      "id": "4dd2fce8-3aa8-4628-aca3-6174e8ef3940",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## RSS SITES\n\nPRINCIPAIS SITES DE NOTICIAS",
        "height": 576,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        -592
      ],
      "id": "7cfbf639-9d28-4301-8781-3346bfb32251",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## BRASIL API\n\nPRINCIPAIS CONSULTAS DE DADOS ",
        "height": 240,
        "width": 592,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        288
      ],
      "id": "ee267945-b4f0-44db-8dbb-04e83e7f02fb",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## VERIFICAÇÃO DE DADOS\n\n",
        "height": 416,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        48
      ],
      "id": "f9e85782-3408-4cfd-9397-3cf35acbfdc6",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## RSS SITES\n\nPRINCIPAIS SITES DE NOTICIAS",
        "height": 176,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        48
      ],
      "id": "1308407e-c21b-44d2-b343-72cf78bc9f7b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/feeds/videos.xml?channel_id={{ $json.youtuber_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        672,
        96
      ],
      "id": "7c1c7ee5-f5b7-4f38-b0db-39b27cf49d9a",
      "name": "RSS YOUTUBER"
    },
    {
      "parameters": {
        "content": "## Separando por ID",
        "height": 464,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        32
      ],
      "id": "ee4c0457-23ea-4ee8-ab3d-11568d61fd1d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "### TRIGGER ",
        "height": 1088,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -816,
        -592
      ],
      "id": "383605eb-45e4-460e-91c5-2e8add343202",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## iNCLUINDO IDS CANAIS DE YOUTUBER\n",
        "height": 272,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        0
      ],
      "id": "95ab48e9-89a4-478c-a8a4-3a790055ac74",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Atualizações de noticias do dia",
        "height": 1248,
        "width": 2480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        -704
      ],
      "id": "f305b404-a892-4bdc-b3e9-8e0f595126f1",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# Apagando a mensagem apos 10 horas",
        "height": 784,
        "width": 2480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        560
      ],
      "id": "55b4f3ee-2697-42bb-a98a-e76f5a9fbb2a",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "jsCode": "const agora = new Date().getTime();\nconst cincoHoras = 10* 60 * 60 * 1000;\n\nconst resultado = [];\n\nfor (const item of items) {\n\n  const dataMensagem = new Date(item.json.timestamp).getTime();\n\n  if (\n    item.json.author.bot === true &&\n    (agora - dataMensagem >= cincoHoras)\n  ) {\n    resultado.push(item);\n  }\n\n}\n\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        784
      ],
      "id": "0284715d-4e90-4d43-b085-00da682976fc",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "1471481366569943242",
          "mode": "list",
          "cachedResultName": "Servidor de Noticias",
          "cachedResultUrl": "https://discord.com/channels/1471481366569943242"
        },
        "channelId": {
          "__rl": true,
          "value": "1481410679280898232",
          "mode": "list",
          "cachedResultName": "canal-youtuber",
          "cachedResultUrl": "https://discord.com/channels/1471481366569943242/1481410679280898232"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -416,
        976
      ],
      "id": "13170617-e0ae-402e-acdb-5fa976361e4c",
      "name": "Listar Canal YB",
      "webhookId": "4e781d0b-a875-4d60-aa41-dbc2ca891e80",
      "credentials": {
        "discordBotApi": {
          "id": "FpUiE5KHYx0GlOqJ",
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "1471481366569943242",
          "mode": "list"
        },
        "channelId": {
          "__rl": true,
          "value": "1481397230501105746",
          "mode": "list",
          "cachedResultName": "noticias-hoje",
          "cachedResultUrl": "https://discord.com/channels/1471481366569943242/1481397230501105746"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -416,
        784
      ],
      "id": "73284938-7895-42d2-8e8e-be90d9463901",
      "name": "Listar NH",
      "webhookId": "4e781d0b-a875-4d60-aa41-dbc2ca891e80",
      "credentials": {
        "discordBotApi": {
          "id": "FpUiE5KHYx0GlOqJ",
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agora = new Date().getTime();\nconst cincoHoras = 10* 60 * 60 * 1000;\n\nconst resultado = [];\n\nfor (const item of items) {\n\n  const dataMensagem = new Date(item.json.timestamp).getTime();\n\n  if (\n    item.json.author.bot === true &&\n    (agora - dataMensagem >= cincoHoras)\n  ) {\n    resultado.push(item);\n  }\n\n}\n\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        976
      ],
      "id": "21af90f4-e459-4e40-8280-ae387cbced31",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const agora = new Date().getTime();\nconst cincoHoras = 10 * 60 * 60 * 1000;\n\nconst resultado = [];\n\nfor (const item of items) {\n\n  const dataMensagem = new Date(item.json.timestamp).getTime();\n\n  if (\n    item.json.author.bot === true &&\n    (agora - dataMensagem >= cincoHoras)\n  ) {\n    resultado.push(item);\n  }\n\n}\n\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        1168
      ],
      "id": "0d77461b-015c-4dc4-96c2-9ff633f63864",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "1471481366569943242",
          "mode": "list",
          "cachedResultName": "Servidor de Noticias",
          "cachedResultUrl": "https://discord.com/channels/1471481366569943242"
        },
        "channelId": {
          "__rl": true,
          "value": "1481392288419680350",
          "mode": "list",
          "cachedResultName": "contação",
          "cachedResultUrl": "https://discord.com/channels/1471481366569943242/1481392288419680350"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -416,
        1168
      ],
      "id": "db3a81f4-9924-4f43-a25e-5c889b2deffa",
      "name": "Listar Canal Cota",
      "webhookId": "4e781d0b-a875-4d60-aa41-dbc2ca891e80",
      "credentials": {
        "discordBotApi": {
          "id": "FpUiE5KHYx0GlOqJ",
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        992
      ],
      "id": "c2030684-b5f9-4af8-95a4-0e27648c7686",
      "name": "A cada 2 horas"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "deleteMessage",
        "guildId": {
          "__rl": true,
          "value": "1471481366569943242",
          "mode": "list"
        },
        "channelId": {
          "__rl": true,
          "value": "1481410679280898232",
          "mode": "list",
          "cachedResultName": "canal-youtuber",
          "cachedResultUrl": "https://discord.com/channels/1471481366569943242/1481410679280898232"
        },
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        96,
        976
      ],
      "id": "c244714a-7e32-4243-964b-5aa195578daa",
      "name": "CANAL YB",
      "webhookId": "64ab074b-72d2-4353-bc1f-8fdb289e5d31",
      "credentials": {
        "discordBotApi": {
          "id": "FpUiE5KHYx0GlOqJ",
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "deleteMessage",
        "guildId": {
          "__rl": true,
          "value": "1471481366569943242",
          "mode": "list"
        },
        "channelId": {
          "__rl": true,
          "value": "1481397230501105746",
          "mode": "list",
          "cachedResultName": "noticias-hoje",
          "cachedResultUrl": "https://discord.com/channels/1471481366569943242/1481397230501105746"
        },
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        96,
        784
      ],
      "id": "89590a3e-93cd-472b-9d1a-5297cc95abd5",
      "name": "CANAL NH",
      "webhookId": "64ab074b-72d2-4353-bc1f-8fdb289e5d31",
      "credentials": {
        "discordBotApi": {
          "id": "FpUiE5KHYx0GlOqJ",
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "deleteMessage",
        "guildId": {
          "__rl": true,
          "value": "1471481366569943242",
          "mode": "list"
        },
        "channelId": {
          "__rl": true,
          "value": "1481392288419680350",
          "mode": "list",
          "cachedResultName": "contação",
          "cachedResultUrl": "https://discord.com/channels/1471481366569943242/1481392288419680350"
        },
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        96,
        1168
      ],
      "id": "57edc87f-ac89-4574-b989-3268c0bb71fe",
      "name": "CANAL CONTACAO",
      "webhookId": "64ab074b-72d2-4353-bc1f-8fdb289e5d31",
      "credentials": {
        "discordBotApi": {
          "id": "FpUiE5KHYx0GlOqJ",
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb896c76-11b8-4492-975c-a506a88f86f8",
              "leftValue": "={{$json.redis_value}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        -480
      ],
      "id": "83f0aa6b-5e2f-447d-965a-d68f3557745a",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "## REDIS CACHE \n\nVerificar se a notícia já foi enviada",
        "height": 576,
        "width": 608,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        -592
      ],
      "id": "0f8e0f84-6021-4758-8de2-92a03e8b3277",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "redis_value",
        "key": "={{ $json.guid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        256,
        -480
      ],
      "id": "9f13130a-52c8-4245-9df9-1396b889c280",
      "name": "Redis Get",
      "credentials": {
        "redis": {
          "id": "xtzhVRuCXZHxWeDj",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Limit').item.json.guid }}",
        "value": "1",
        "expire": true,
        "ttl": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        672,
        -512
      ],
      "id": "4e0f6016-a455-40a9-a2c1-165a662e7df3",
      "name": "Redis Set",
      "credentials": {
        "redis": {
          "id": "xtzhVRuCXZHxWeDj",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb896c76-11b8-4492-975c-a506a88f86f8",
              "leftValue": "={{$json.redis_value}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        -304
      ],
      "id": "f590c865-9e0a-4677-b7bb-28710cf0147f",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "redis_value",
        "key": "={{ $json.guid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        240,
        -304
      ],
      "id": "f98be8f5-41a4-4b83-9891-c39bb00d0e4a",
      "name": "Redis Get1",
      "credentials": {
        "redis": {
          "id": "xtzhVRuCXZHxWeDj",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Limit2').item.json.guid }}",
        "value": "1",
        "expire": true,
        "ttl": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        656,
        -304
      ],
      "id": "1511a606-de0a-465f-941d-8facea4beb52",
      "name": "Redis Set1",
      "credentials": {
        "redis": {
          "id": "xtzhVRuCXZHxWeDj",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb896c76-11b8-4492-975c-a506a88f86f8",
              "leftValue": "={{$json.redis_value}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        -144
      ],
      "id": "8b6c2c12-dce7-4fc0-8f7a-8a019a252d40",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "redis_value",
        "key": "={{ $json.guid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        240,
        -144
      ],
      "id": "2b4b923f-905e-4ea0-a119-32cab65c5a67",
      "name": "Redis Get2",
      "credentials": {
        "redis": {
          "id": "xtzhVRuCXZHxWeDj",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Limit1').item.json.guid }}",
        "value": "1",
        "expire": true,
        "ttl": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        656,
        -144
      ],
      "id": "da48c140-bd2e-4d73-ac63-189de304035a",
      "name": "Redis Set2",
      "credentials": {
        "redis": {
          "id": "xtzhVRuCXZHxWeDj",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fb7dcb3-c3b8-45e7-b485-af0373c85078",
              "name": "id_cota",
              "value": "[\"USD\", \"EUR\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        384
      ],
      "id": "abe87be1-9826-4692-9f8c-ae6fb58aff2c",
      "name": "Código da moeda (ISO 4217)"
    },
    {
      "parameters": {
        "jsCode": "const itens = items;\n\nconst usd = itens[0].json;\nconst eur = itens[1].json;\n\nconst data = new Date(usd.data_hora_cotacao);\n\nconst dataFormatada =\ndata.toLocaleDateString('pt-BR') +\n' - ' +\ndata.toLocaleTimeString('pt-BR', {hour:'2-digit', minute:'2-digit'});\n\nconst mensagem = `\nOlá! 💰\n\nInformações da cotação do USD/EUR:\n\n📅 ${dataFormatada}\n\nUSD\n💵 Compra: R$ ${usd.cotacao_compra.toFixed(2)}\n💵 Venda: R$ ${usd.cotacao_venda.toFixed(2)}\n\nEUR\n💵 Compra: R$ ${eur.cotacao_compra.toFixed(2)}\n💵 Venda: R$ ${eur.cotacao_venda.toFixed(2)}\n\nFonte: BrasilAPI\n`;\n\nreturn [\n  {\n    json: {\n      mensagem\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        288
      ],
      "id": "6a092519-a606-4b36-936e-f9caad23d599",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id_cota",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -144,
        384
      ],
      "id": "4c7f50fd-c9d8-4685-9626-e2218e00b210",
      "name": "Array id"
    },
    {
      "parameters": {
        "url": "=https://brasilapi.com.br/api/cambio/v1/cotacao/{{ $json.id_cota }}/{{ $now.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        368
      ],
      "id": "1941df91-48b2-4be8-b234-33e2dcba53ff",
      "name": "BRASIL API"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS OLHAR DIGITAL",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS CANAL TECH",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS CNN BRASIL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Código da moeda (ISO 4217)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS OLHAR DIGITAL",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS CANAL TECH",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS CNN BRASIL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Redis Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS OLHAR DIGITAL": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS CNN BRASIL": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Redis Get2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS CANAL TECH": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Redis Get1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canal  Digital": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "canal tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "RSS YOUTUBER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "RSS OLHAR DIGITAL",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS CANAL TECH",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS CNN BRASIL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "canal cnn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Youtuber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS YOUTUBER": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "CANAL NH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Canal YB": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar NH": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "CANAL YB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "CANAL CONTACAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Canal Cota": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A cada 2 horas": {
      "main": [
        [
          {
            "node": "Listar NH",
            "type": "main",
            "index": 0
          },
          {
            "node": "Listar Canal YB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Listar Canal Cota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Redis Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Get": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Set": {
      "main": [
        [
          {
            "node": "Canal  Digital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Redis Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Get1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Set1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Redis Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Get2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Set2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código da moeda (ISO 4217)": {
      "main": [
        [
          {
            "node": "Array id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Array id": {
      "main": [
        [
          {
            "node": "BRASIL API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BRASIL API": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c90c18cd0d83dfe3d2ede2bf0e2d57f90b3966ca1ff2b3a7e7fa9fdb3111b36e"
  }
}
